@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Cascadia Code', monospace;
	/* background-image: url('assets/images/pixel-jeff-galaxy-far-far-away.gif'); */

	/* height: 100%; */

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.name {
	font-weight: bolder;
	margin-bottom: 1%;
}

@layer components {
	#profile-hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 50px;
		color: white;
	}
	.profile-card {
		padding: 50px;
		background: rgba(0,0,0,0.2);
		border-radius: 25px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}
}