@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Cascadia Code', monospace
}

@layer components {
	.profile-hero {
		@apply flex flex-col items-center justify-center text-center p-10 text-white;
	}
	/* .profile-card {
		padding: 50px;
		background: rgba(0,0,0,0.2);
		border-radius: 25px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	} */


}